
.search-box{
    padding: 10px;
    /* border: 1px solid green; */
}
.search-box input{
    padding: 10px;
    width: 70%;
    border-radius: 5px;
    border-style: none;
    border: 1px solid gray;
}
.search-box span{
    border: 1px solid gray;
    padding: 9px;
    border-radius: 5px;
}
.frame {
    /* border: 1px solid red; */
    display: flex;
}
.frame > div{
    flex-basis: 8%;
    /* border: 1px solid red; */
}
.frame div:nth-child(2){
    flex-grow: 2;
}
.side-bar{
    background-color: #555;
}
.side-bar a{
    display: block;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 30px;
    text-decoration: none;
}
.grid-boxes{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.grid-boxes > div{
    /* border: 1px solid green; */
    padding: 10px;
    text-align: center;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .search-box{
        width: 30%;
        margin: auto;
    }
    .search-box input{
        width: 30%; 
        margin: auto;
    }
    .grid-boxes{
        grid-template-columns: auto;
    }
    .side-bar{
        background-color: #555;
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .search-box{
        width: 70%;
        margin: auto;
    }
    .search-box input{
        width: 70%; 
        margin: auto;
    }
    .grid-boxes{
        grid-template-columns: 50% 50%;
    }
    .frame{
        display: grid;
    }
    .side-bar{
        background-color: #555;
        display: flex;
        width: 70%;
        margin: auto;
    }
    .side-bar a{
        display: block;
        padding: 16px;
        transition: all 0.3s ease;
        color: white;
        font-size: 30px;
        text-decoration: none;
    }
   
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .search-box{
        width: 100%;
        margin: auto;
    }
    .search-box input{
        width: 80%; 
        margin: auto;
    }
    .grid-boxes{
        grid-template-columns: 33% 33% 33%;
    }
    
    .side-bar{
        background-color: #555;
        display: grid;
        width: 100%;
        margin: 0px;
    }
    .frame{
        display: flex;
    }
    .frame > div{
        flex-basis: 8%;
        /* border: 1px solid red; */
    }
    .side-bar a{
        display: block;
        padding: 16px;
        transition: all 0.3s ease;
        color: white;
        font-size: 30px;
        text-decoration: none;
    }
  
}